#  uEmu - knownledge base extraction configuration template
#  ------------------------------------------------------

#  Copyright (C) 2019-2021 Wei Zhou

#  Licensed under the Apache License,Version 2.0 (the License);
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at:

#    http://www.apache.org/licenses/LICENSE-2.0

[MEM_Config]
# Configure rom and ram used for the target firmware (at most for two of each)
#rom = 0x08000000,0x40000
rom = 0x202000,0x8e000
ram = 0x20000000,0x40000
vtor = 0x202000

[InVulAna_Config]
hook_read = 
ram = 0x20000000,0x40000
# fade lpm_enter printf
skip = 0x208d68 0x2036bc 0x2053f8
# skip timer reads
skip_read_pc   = 0x20262c   0x202630   0x202632   0x20263e
skip_read_addr = 0x400d5040 0x400d5044 0x400d5048 0x400d504c
# skip the timer process and force the isr 
jump = 0x208dd4
to   = 0x20353c
# user physical address
user_addrs = 0x40088828
# platform_idle 
idle = 0x0
isrs = 0x8d
ghidra_port = 22733
user_only_mode = true
infer_start = 0x208dd4
debug=true 
